{% extends "base.html" %}

{% block title %}
Chat
{% endblock %}

{% block body %}
<ul id="chats">
    {% for message in messages %}
    <li>{{ message['username'] }} at {{ message['time'] }}: {{ message['message'] }}</li>
    {% endfor %}
</ul>
<form id="chatbox">
    <textarea id="message"></textarea>
    <input type="submit" id="submit">
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}